<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Menu/etc/menu.xsd">
    <menu>
        <add id="Emizen_Custom::exports" 
             title="Export" 
             module="Emizen_Custom" 
             sortOrder="10" 
             parent="Magento_Catalog::catalog_categories" 
             action="export/index/index" 
             resource="Emizen_Custom::exports" />
    </menu>
</config>
