<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="emizen_synchannel" frontName="emizen_synchannel">
            <module name="Emizen_Synchannel" />
        </route>
    </router>
</config>
