<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="ImportData" translate="label" type="text" sortOrder="310" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Import Product</label>
            <tab>service</tab>
            <resource>Nadeem0035_ImportData::config_ImportData</resource>
            <group id="default" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Default Values</label>
                <field id="behavior" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Behavior</label>
                    <source_model>Nadeem0035\ImportData\Model\Config\Source\Behavior</source_model>
                </field>
                <field id="entity" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Entity Type</label>
                    <source_model>Magento\ImportExport\Model\Source\Import\Entity</source_model>
                </field>
                <field id="validation_strategy" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Validation Strategy</label>
                    <source_model>Nadeem0035\ImportData\Model\Config\Source\ValidationStrategy</source_model>
                </field>
                <field id="allowed_error_count" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allowed Error Count</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
                <field id="import_images_file_dir" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Import Images Directory</label>
                </field>
                <field id="ignore_duplicates" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Ignore duplicates</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="category_path_seperator" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Category path seperator</label>
                </field>
            </group>
            <group id="database" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Import Source Settings</label>
                <field id="import_url" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" translate="label">
                    <label>Import URL</label>
                </field>
                <field id="import_username" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" translate="label">
                    <label>UserName</label>
                </field>
                <field id="import_password" type="password" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" translate="label">
                    <label>Password</label>
                </field>
            </group>
            <group id="spareparts" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Import Spare Parts Settings</label>
                <field id="import_url_spare" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" translate="label">
                    <label>Import URL</label>
                </field>
                <field id="import_username_spare" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" translate="label">
                    <label>UserName</label>
                </field>
                <field id="import_password_spare" type="password" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" translate="label">
                    <label>Password</label>
                </field>
            </group>
        </section>
    </system>
</config>
