<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_postdispatch_customer_account_logout"> 
        <observer name="Magebees_Navigationmenu_Customer_Logout" instance="Magebees\Navigationmenu\Observer\Logout" />
    </event>
	<event name="customer_login">
        <observer name="Magebees_Navigationmenu_Customer_Login" instance="Magebees\Navigationmenu\Observer\CustomerLogin" />
    </event>
</config>