<!--@subject {{trans "We buy form AM Machinery" }} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/unnamed.png\" _area='frontend'":"Email Logo Image"}
@-->

<div class="image_email"> <img src="https://www.ammachinery.nl/media/image/image/imgpsh_fullsize_anim.png" style="width: 200px"> </div>
<table width="100%">
	<tr>
		<h3>Thank you for visit on Ammachinery</h3>
	</tr>
	<tr>
		<td width="25%">First Name: </td>
		<td width="75%">{{var f_name}}</td>
	</tr>
	<tr>
		<td width="25%">Last Name: </td>
		<td width="75%">{{var l_name}}</td>
	</tr>
	<tr>
		<td width="25%">Email: </td>
		<td width="75%">{{var a_email}}</td>
	</tr>
	<tr>
		<td width="25%">Phone Number: </td>
		<td width="75%">{{var ph_number}}</td>
	</tr>
	<tr>
		<td width="25%">Address: </td>
		<td width="75%">{{var address_name}}</td>
	</tr>
	<tr>
		<td width="25%">Zipcode: </td>
		<td width="75%">{{var zipcode_name}}</td>
	</tr>
	<tr>
		<td width="25%">Place: </td>
		<td width="75%">{{var place_name}}</td>
	</tr><tr>
		<td width="25%">Country: </td>
		<td width="75%">{{var country_name}}</td>
	</tr>
	<tr>
		<td width="25%">Brand: </td>
		<td width="75%">{{var brand_name}}</td>
	</tr>
	<tr>
		<td width="25%">type: </td>
		<td width="75%">{{var type_name}}</td>
	</tr>
	<tr>
		<td width="25%">Serialnumber: </td>
		<td width="75%">{{var serialnumber_name}}</td>
	</tr>
	<tr>
		<td width="25%">Manufacturing: </td>
		<td width="75%">{{var manufacturing_name}}</td>
	</tr>
	<tr>
		<td width="25%">Engine hours: </td>
		<td width="75%">{{var ehours_name}}</td>
	</tr>
	<tr>
		<td width="25%">Drum hours: </td>
		<td width="75%">{{var dhours_name}}</td>
	</tr>
	<tr>
		<td width="25%">Options: </td>
		<td width="75%">{{var options_name}}</td>
	</tr>
	<tr>
		<td width="25%">Attachments: </td>
		<td width="75%">{{var attachments_name}}</td>
	</tr>	
	<tr>
		<td width="25%">Price: </td>
		<td width="75%">{{var serialnumber_name}}</td>
	</tr>
		
</table>
